.btn{
    background-color: #193756;
    color: #4BB9C0;
    border-radius: 40px;
    padding: 0.7vh;
    font-size: 1.8vh;
    font-weight: 600;
    width: max-content;
    margin: 0.6vh;
}



.experience{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    width: 70%;
    padding: 2vh;
    border-radius: 10px;
    transition: ease-in 0.3s;
}

.experience:hover, .experience:active{
    backdrop-filter: blur(5px);
    background-color: rgba(245, 245, 245, 0.092);
}

.experience:hover .position{
    color: #4BB9C0;
}

.position{
    font-size: 2.4vh;
    font-weight: 600;
    margin-bottom: 0.8vh;
}

.role-brief{
    font-size: 2.1vh;
    color: rgba(245, 245, 245, 0.46);
}

.duration{
    min-width: 30%;
    max-width: 30%;
    color: rgba(245, 245, 245, 0.46);

}

.techstack{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vh;
}

.resume-link-con{
    margin-top: 2vh;
}

.resume-link{
    text-decoration: none;
    padding-bottom: 1vh;
    height: 10vh;
    transition: all 1s;
}

.resume-link span{
    padding-bottom: 2vh;
}

.resume-link:hover{
    text-decoration: underline 2px solid rgba(255,255,255,0.47);
}

.proj_img{
    width: 90%;
}

.highlight{
    margin: 1vh 0vh 1vh 0vh;
}

.highlight:hover{
    color: rgba(245, 245, 245, 0.46);
}